

<div class="content-container">
<h1>Find Skill</h1>
 
</div>

<div class="card-container">
<div class="card">
  <h1>Find a mentor</h1>
  <%= link_to 'Go', search_url, class: 'button' %>
</div>

<div class="card">
  <h1>Find an apprentice</h1>
  <%= link_to 'Go', search_url, class: 'button' %>
</div>
</div>