.container {
  border: 1px solid black;
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
  padding: 2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: auto;
}
