// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#cce6ff;
  // overflow-x: scroll;
  // height: 400px;
}

.user {
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  // margin-right: 2em;
  margin: 2em;
  flex-basis: 400px;
  padding: 2em;
  border: 1px solid black;
  background-color: #ccddff;
}

body {
  background-color: #e6f2ff;
  background-size: cover;
  font-family: "Roboto", sans-serif;

}
